<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>프로젝트 추가</title>
    </head>
    <body style="background-color: lightgray;">
        <div>
                <h2>프로젝트 추가</h2>
        </div>
        <div>
            <form action="/project/add" method="post">
                <h4> 프로젝트 이름 </h4>
                <input type="text" name="proj_name">
                <br>
                <h4> 프로젝트 설명 </h4>
                <input type="text" name="proj_description" style="width:100px;">
                <br>
                <h4> 프로젝트 관련 URL (없으면 비워주세요) </h4>
                <input type="text" name="url" value="ex. github 주소">
                <br>
                <h4> 작성자 id </h4>
                - 확인을 위하여 본인의 아이디를 한번 더 입력해주세요 <br>
                <input type="text" name="user_id">
                <br><br>
                <input type="submit" value="프로젝트 추가">
            </form>
        </div>
        <div style="text-align: center;">

                <a href='/project'> <input type="button" value="목록으로 돌아가기"> </a>
        </div>
    </body>
</html>