<!DOCTYPE html>
<html>
    <head>
        <title>Resume</title>
    </head>
    <body>
        <div style="text-align: center;">
                <h1><b>Resume</b></h1>
                <hr>
        </div>
        <div style = "text-align: center;">
            <a href='/main'><button type="submit">Main</button></a>
        </div>
    </body>
</html>