<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>
    </head>
    <body>
        <h1 style="text-align: center;"><b>LOGIN</b></h1>
        <hr>
        <form action="/login" method="POST" style="text-align: center;">
            Id<br/><input type="text" name="id"><br/><br/>
            Password<br/><input type="password" name="pwd"><br/><br/>
            <a href="/login"><button type="submit">SIGN IN</button></a><br/><br/>
        </form>
        <div style="text-align: center;">
            <a href="/signup"><button type="submit">SIGN UP</button></a>
        </div>       
    </body>
</html>