<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
    </head>
    <body>
        <div style="text-align:center;">
                <h1><b>My Page</b></h1>
                <hr>
                <a href="/resume"> resume </a>
                <br>
                <a href="/competition"> competition </a>
                <br>
                <a href="/certification"> certification </a>
                <br>
                <a href="/project"> project </a>
                <br>
                <a href="/test"> test </a>
                <br>
                <a href="/career"> career </a>
                <hr>
        </div>
        <form action="/main/search" method="POST" style="text-align: center;">
            <select name="serchBoard"> 
                <option value=""> 게시판 선택 </option>
                <option value="resume"> resume </option>
                <option value="career"> career </option>
                <option value="test"> test </option>
                <option value="competition"> competition </option>
                <option value="certification"> certification </option>
                <option value="project"> project </option>
            </select>
            <input type="text" name="searchKey" placeholder="검색할 항목을 입력하세요">
            <button type="submit">search</button>
            <hr>
        </form>
        <div style = "text-align: center;">
            <form action="/logout" method="GET">
                <button type="submit">LOGOUT</button>        
            </form>
        </div>
    </body>
</html>