<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
    </head>
    <body>
        <div style="text-align:center;">
                <h1><b>My Page</b></h1>
                <hr>
                <a href="/competition"> competition </a>
                <hr>
        </div>
        <div style="text-align: center;">
            <input type="text" name="search" value="검색할 항목을 입력하세요">
            <input type="button" name="searchButton" value="search">
            <hr>
        </div>
        <div style = "text-align: center;">
            <form action="/mypage" method="POST">
                <button type="submit">LOGOUT</button>        
            </form>
        </div>
    </body>
</html>