<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
    </head>
    <body>
        <div style="text-align:center;">
                <h1><b>My Page</b></h1>
                <hr>
                <a href="/competition"> competition </a>
                <br>
                <a href="/main/resume/resume_seq"> resume </a>
                <hr>
        </div>
        <form action="/main/search" method="POST" style="text-align: center;">
            <input type="text" name="searchKey" placeholder="검색할 항목을 입력하세요">
            <button type="submit">search</button>
            <hr>
        </form>
        <div style = "text-align: center;">
            <form action="/logout" method="POST">
                <button type="submit">LOGOUT</button>        
            </form>
        </div>
    </body>
</html>