<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
    </head>
    <body>
        <div style="text-align:center;">
                <h1><b>My Page</b></h1>
                <hr>
            <form action="/mypage" method="POST">
                <button type="submit">LOGOUT</button>        
            </form>
        </div>
    </body>
</html>