<!DOCTYPE html>
<html>
    <head>
        <title>Search Results</title>
    </head>
    <body>
        <div style="text-align: center;">
                <h1><b>Search Results</b></h1>
                <hr>
        </div>
        <div style="text-align: center;">
            <div style="display:inline-block; font-size:20px; margin:0 auto;">
                <table border="1">
                    <tr>
                        <th>Company Name</th><th>Question</th><th>Answer</th>
                    </tr>
                    <% for(let i =0;i < results.length; i++){ %>
                        <tr>
                            <td><a href="/main/resume/<%= results[i]['seq'] %>"><%= results[i]['comp_org'] %></a></td>
                            <td><%= results[i]['question'] %></td>
                            <td><%= results[i]['answer'] %></td>
                        </tr>  
                    <% } %>
                </table>
            </div>
        </div>
        <div style = "text-align: center;">
            <a href='/main'><button type="submit">Main</button></a>
        </div>
    </body>
</html>