<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>delete</title>
    </head>
    <body style="background-color: lightgray;">
        <div style="text-align: center;">
            <h2> 삭제</h2>
            <hr>
        </div>
        <div style="text-align: center;">
            <br>
            <%= post.test_name %> 기록을 정말 삭제하실건가요?
            <br>
            <br>
            <form action="/test/<%= post.seq %>/delete" method="post">
                <input type="submit" value="YES">
                <a href="/test/<%= post.seq %>"><input type="button" value="NO"> </a>
            </form>
        </div>
    </body>
</html>